@font-face {
    font-family: 'exo_2black_italic';
    src: url('exo2-blackitalic-webfont.woff2') format('woff2'),
         url('exo2-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2bold';
    src: url('exo2-bold-webfont.woff2') format('woff2'),
         url('exo2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2bold_italic';
    src: url('exo2-bolditalic-webfont.woff2') format('woff2'),
         url('exo2-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_bold';
    src: url('exo2-extrabold-webfont.woff2') format('woff2'),
         url('exo2-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_bold_italic';
    src: url('exo2-extrabolditalic-webfont.woff2') format('woff2'),
         url('exo2-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_light';
    src: url('exo2-extralight-webfont.woff2') format('woff2'),
         url('exo2-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_light_italic';
    src: url('exo2-extralightitalic-webfont.woff2') format('woff2'),
         url('exo2-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2italic';
    src: url('exo2-italic-webfont.woff2') format('woff2'),
         url('exo2-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2light';
    src: url('exo2-light-webfont.woff2') format('woff2'),
         url('exo2-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2light_italic';
    src: url('exo2-lightitalic-webfont.woff2') format('woff2'),
         url('exo2-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2medium';
    src: url('exo2-medium-webfont.woff2') format('woff2'),
         url('exo2-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2medium_italic';
    src: url('exo2-mediumitalic-webfont.woff2') format('woff2'),
         url('exo2-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2regular';
    src: url('exo2-regular-webfont.woff2') format('woff2'),
         url('exo2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2semi_bold';
    src: url('exo2-semibold-webfont.woff2') format('woff2'),
         url('exo2-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2semi_bold_italic';
    src: url('exo2-semibolditalic-webfont.woff2') format('woff2'),
         url('exo2-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2thin';
    src: url('exo2-thin-webfont.woff2') format('woff2'),
         url('exo2-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2thin_italic';
    src: url('exo2-thinitalic-webfont.woff2') format('woff2'),
         url('exo2-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansbold';
    src: url('pt_sans-web-bold-webfont.woff2') format('woff2'),
         url('pt_sans-web-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
         url('pt_sans-web-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('pt_sans-web-italic-webfont.woff2') format('woff2'),
         url('pt_sans-web-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('pt_sans-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}